<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fk.dao.ContinentDao" >
  <resultMap id="BaseResultMap" type="com.fk.bean.ContinentBean" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="continent" property="continent" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="traveId" property="traveid" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, continent, count, traveId
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from continent
  </select>
  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from continent
    where continent = #{continent,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from continent
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from continent
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fk.bean.ContinentBean" >
    insert into continent (id, continent, count,traveid
      )
    values (#{id,jdbcType=INTEGER}, #{continent,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER},
      #{traveid,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fk.bean.ContinentBean" >
    insert into continent
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="continent != null" >
        continent,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="traveid != null" >
        traveId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="continent != null" >
        #{continent,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="traveid != null" >
        #{traveid,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fk.bean.ContinentBean" >
    update continent
    <set >
      <if test="continent != null" >
        continent = #{continent,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="traveid != null" >
        traveId = #{traveid,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fk.bean.ContinentBean" >
    update continent
    set continent = #{continent,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
          traveId = #{traveid,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>