<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fk.dao.DiscussDao" >
<resultMap id="BaseResultMap" type="com.fk.bean.DiscussBean" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="newsId" property="newsid" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
</resultMap>
<sql id="Base_Column_List" >
    id, newsId, userId, time, userName, content
</sql>
<select id="selectByNewsId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from discuss
    where newsId = #{id,jdbcType=INTEGER}
</select>
<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from discuss
    where id = #{id,jdbcType=INTEGER}
</select>
<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from discuss
    where id = #{id,jdbcType=INTEGER}
</delete>
<insert id="insert" parameterType="com.fk.bean.DiscussBean" >
    insert into discuss (id, newsId, userId,
    time, userName, content
    )
    values (#{id,jdbcType=INTEGER}, #{newsid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER},
    #{time,jdbcType=TIMESTAMP}, #{username,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}
    )
</insert>
<insert id="insertSelective" parameterType="com.fk.bean.DiscussBean" >
    insert into discuss
    <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="id != null" >
            id,
        </if>
        <if test="newsid != null" >
            newsId,
        </if>
        <if test="userid != null" >
            userId,
        </if>
        <if test="time != null" >
            time,
        </if>
        <if test="username != null" >
            userName,
        </if>
        <if test="content != null" >
            content,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="id != null" >
            #{id,jdbcType=INTEGER},
        </if>
        <if test="newsid != null" >
            #{newsid,jdbcType=INTEGER},
        </if>
        <if test="userid != null" >
            #{userid,jdbcType=INTEGER},
        </if>
        <if test="time != null" >
            #{time,jdbcType=TIMESTAMP},
        </if>
        <if test="username != null" >
            #{username,jdbcType=VARCHAR},
        </if>
        <if test="content != null" >
            #{content,jdbcType=VARCHAR},
        </if>
    </trim>
</insert>
<update id="updateByPrimaryKeySelective" parameterType="com.fk.bean.DiscussBean" >
    update discuss
    <set >
        <if test="newsid != null" >
            newsId = #{newsid,jdbcType=INTEGER},
        </if>
        <if test="userid != null" >
            userId = #{userid,jdbcType=INTEGER},
        </if>
        <if test="time != null" >
            time = #{time,jdbcType=TIMESTAMP},
        </if>
        <if test="username != null" >
            userName = #{username,jdbcType=VARCHAR},
        </if>
        <if test="content != null" >
            content = #{content,jdbcType=VARCHAR},
        </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
</update>
<update id="updateByPrimaryKey" parameterType="com.fk.bean.DiscussBean" >
    update discuss
    set newsId = #{newsid,jdbcType=INTEGER},
    userId = #{userid,jdbcType=INTEGER},
    time = #{time,jdbcType=TIMESTAMP},
    userName = #{username,jdbcType=VARCHAR},
    content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
</update>
</mapper>