<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fk.dao.FtypeDao" >
  <resultMap id="BaseResultMap" type="com.fk.bean.FtypeBean" >
    <id column="ftypeid" property="ftypeid" jdbcType="INTEGER" />
    <result column="ftype" property="ftype" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ftypeid, ftype
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ftype
    where ftypeid = #{ftypeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ftype
    where ftypeid = #{ftypeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fk.bean.FtypeBean" >
    insert into ftype (ftypeid, ftype)
    values (#{ftypeid,jdbcType=INTEGER}, #{ftype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fk.bean.FtypeBean" >
    insert into ftype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ftypeid != null" >
        ftypeid,
      </if>
      <if test="ftype != null" >
        ftype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ftypeid != null" >
        #{ftypeid,jdbcType=INTEGER},
      </if>
      <if test="ftype != null" >
        #{ftype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fk.bean.FtypeBean" >
    update ftype
    <set >
      <if test="ftype != null" >
        ftype = #{ftype,jdbcType=VARCHAR},
      </if>
    </set>
    where ftypeid = #{ftypeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fk.bean.FtypeBean" >
    update ftype
    set ftype = #{ftype,jdbcType=VARCHAR}
    where ftypeid = #{ftypeid,jdbcType=INTEGER}
  </update>
</mapper>