<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fk.dao.HotelDao" >
  <resultMap id="BaseResultMap" type="com.fk.bean.HotelBean" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="etitle" property="etitle" jdbcType="VARCHAR" />
    <result column="star" property="star" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="VARCHAR" />
    <result column="adress" property="adress" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, etitle, star, score, adress, img, summary
  </sql>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hotel
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from hotel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hotel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fk.bean.HotelBean" >
    insert into hotel (id, title, etitle, 
      star, score, adress, 
      img, summary)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{etitle,jdbcType=VARCHAR}, 
      #{star,jdbcType=INTEGER}, #{score,jdbcType=VARCHAR}, #{adress,jdbcType=VARCHAR}, 
      #{img,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fk.bean.HotelBean" >
    insert into hotel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="etitle != null" >
        etitle,
      </if>
      <if test="star != null" >
        star,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="adress != null" >
        adress,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="summary != null" >
        summary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="etitle != null" >
        #{etitle,jdbcType=VARCHAR},
      </if>
      <if test="star != null" >
        #{star,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        #{score,jdbcType=VARCHAR},
      </if>
      <if test="adress != null" >
        #{adress,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fk.bean.HotelBean" >
    update hotel
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="etitle != null" >
        etitle = #{etitle,jdbcType=VARCHAR},
      </if>
      <if test="star != null" >
        star = #{star,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=VARCHAR},
      </if>
      <if test="adress != null" >
        adress = #{adress,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fk.bean.HotelBean" >
    update hotel
    set title = #{title,jdbcType=VARCHAR},
      etitle = #{etitle,jdbcType=VARCHAR},
      star = #{star,jdbcType=INTEGER},
      score = #{score,jdbcType=VARCHAR},
      adress = #{adress,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>