<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fk.dao.LineDao" >
  <resultMap id="BaseResultMap" type="com.fk.bean.LineBean" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="hotle" property="hotle" jdbcType="VARCHAR" />
    <result column="meal" property="meal" jdbcType="VARCHAR" />
    <result column="orderId" property="orderid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, summary, hotle, meal, orderId
  </sql>
  <select id="count" resultType="int">
    select
    count(*)
    from line
  </select>
  <select id="selectByStart" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from line
    limit #{start, jdbcType=INTEGER},10
  </select>
  <select id="selectByForginId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from line
    where orderId = #{orderId,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from line
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from line
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByForginId" parameterType="java.lang.Integer" >
    delete from line
    where orderId = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fk.bean.LineBean" >
    insert into line (id, title, summary, 
      hotle, meal, orderId
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{hotle,jdbcType=VARCHAR}, #{meal,jdbcType=VARCHAR}, #{orderid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fk.bean.LineBean" >
    insert into line
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="hotle != null" >
        hotle,
      </if>
      <if test="meal != null" >
        meal,
      </if>
      <if test="orderid != null" >
        orderId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="hotle != null" >
        #{hotle,jdbcType=VARCHAR},
      </if>
      <if test="meal != null" >
        #{meal,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fk.bean.LineBean" >
    update line
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="hotle != null" >
        hotle = #{hotle,jdbcType=VARCHAR},
      </if>
      <if test="meal != null" >
        meal = #{meal,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null" >
        orderId = #{orderid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fk.bean.LineBean" >
    update line
    set title = #{title,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      hotle = #{hotle,jdbcType=VARCHAR},
      meal = #{meal,jdbcType=VARCHAR},
      orderId = #{orderid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>