<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fk.dao.MovieDao" >
    <resultMap id="BaseResultMap" type="com.fk.bean.MovieBean" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="etitle" property="etitle" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="area" property="area" jdbcType="VARCHAR" />
        <result column="time" property="time" jdbcType="VARCHAR" />
        <result column="showtime" property="showtime" jdbcType="DATE" />
        <result column="lookcount" property="lookcount" jdbcType="INTEGER" />
        <result column="score" property="score" jdbcType="DOUBLE" />
        <result column="boxoffice" property="boxoffice" jdbcType="INTEGER" />
        <result column="directorId" property="directorid" jdbcType="INTEGER" />
        <result column="performerIds" property="performerids" jdbcType="VARCHAR" />
        <result column="prizeIds" property="prizeids" jdbcType="VARCHAR" />
        <result column="image" property="image" jdbcType="VARCHAR" />
        <result column="introduce" property="introduce" jdbcType="LONGVARCHAR" />
        <result column="atlas" property="atlas" jdbcType="LONGVARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, title, etitle, type, area, time, showtime, lookcount, score, boxoffice, directorId, performerIds, prizeIds, image,introduce, atlas
    </sql>
    <select id="selectSortByScoreOfTen" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from movie ORDER BY score desc LIMIT 10
    </select>
    <select id="selectSortByLookCountOfTen" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from movie ORDER BY lookcount desc LIMIT 10
    </select>
    <select id="selectSortByBoxofficeOfTen" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from movie ORDER BY boxoffice desc LIMIT 10
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from movie
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from movie
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.fk.bean.MovieBean" >
        insert into movie (id, title, etitle,
      type, area, time, showtime,
      lookcount, score, boxoffice,
      directorId, performerIds, prizeIds,
      image, introduce, atlas
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{etitle,jdbcType=VARCHAR},
      #{type,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, #{showtime,jdbcType=DATE},
      #{lookcount,jdbcType=INTEGER}, #{score,jdbcType=DOUBLE}, #{boxoffice,jdbcType=INTEGER},
      #{directorid,jdbcType=INTEGER}, #{performerids,jdbcType=VARCHAR}, #{prizeids,jdbcType=VARCHAR},
      #{image,jdbcType=VARCHAR}, #{introduce,jdbcType=LONGVARCHAR}, #{atlas,jdbcType=LONGVARCHAR}
      )
    </insert>
    <insert id="insertSelective" parameterType="com.fk.bean.MovieBean" >
        insert into movie
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="etitle != null" >
                etitle,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="area != null" >
                area,
            </if>
            <if test="time != null" >
                time,
            </if>
            <if test="showtime != null" >
                showtime,
            </if>
            <if test="lookcount != null" >
                lookcount,
            </if>
            <if test="score != null" >
                score,
            </if>
            <if test="boxoffice != null" >
                boxoffice,
            </if>
            <if test="directorid != null" >
                directorId,
            </if>
            <if test="performerids != null" >
                performerIds,
            </if>
            <if test="prizeids != null" >
                prizeIds,
            </if>
            <if test="image != null" >
                image,
            </if>
            <if test="introduce != null" >
                introduce,
            </if>
            <if test="atlas != null" >
                atlas,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="etitle != null" >
                #{etitle,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="area != null" >
                #{area,jdbcType=VARCHAR},
            </if>
            <if test="time != null" >
                #{time,jdbcType=VARCHAR},
            </if>
            <if test="showtime != null" >
                #{showtime,jdbcType=DATE},
            </if>
            <if test="lookcount != null" >
                #{lookcount,jdbcType=INTEGER},
            </if>
            <if test="score != null" >
                #{score,jdbcType=DOUBLE},
            </if>
            <if test="boxoffice != null" >
                #{boxoffice,jdbcType=INTEGER},
            </if>
            <if test="directorid != null" >
                #{directorid,jdbcType=INTEGER},
            </if>
            <if test="performerids != null" >
                #{performerids,jdbcType=VARCHAR},
            </if>
            <if test="prizeids != null" >
                #{prizeids,jdbcType=VARCHAR},
            </if>
            <if test="image != null" >
                #{image,jdbcType=VARCHAR},
            </if>
            <if test="introduce != null" >
                #{introduce,jdbcType=LONGVARCHAR},
            </if>
            <if test="atlas != null" >
                #{atlas,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fk.bean.MovieBean" >
        update movie
        <set >
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="etitle != null" >
                etitle = #{etitle,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="area != null" >
                area = #{area,jdbcType=VARCHAR},
            </if>
            <if test="time != null" >
                time = #{time,jdbcType=VARCHAR},
            </if>
            <if test="showtime != null" >
                showtime = #{showtime,jdbcType=DATE},
            </if>
            <if test="lookcount != null" >
                lookcount = #{lookcount,jdbcType=INTEGER},
            </if>
            <if test="score != null" >
                score = #{score,jdbcType=DOUBLE},
            </if>
            <if test="boxoffice != null" >
                boxoffice = #{boxoffice,jdbcType=INTEGER},
            </if>
            <if test="directorid != null" >
                directorId = #{directorid,jdbcType=INTEGER},
            </if>
            <if test="performerids != null" >
                performerIds = #{performerids,jdbcType=VARCHAR},
            </if>
            <if test="prizeids != null" >
                prizeIds = #{prizeids,jdbcType=VARCHAR},
            </if>
            <if test="image != null" >
                image = #{image,jdbcType=VARCHAR},
            </if>
            <if test="introduce != null" >
                introduce = #{introduce,jdbcType=LONGVARCHAR},
            </if>
            <if test="atlas != null" >
                atlas = #{atlas,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fk.bean.MovieBean" >
       update movie
    set title = #{title,jdbcType=VARCHAR},
      etitle = #{etitle,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      showtime = #{showtime,jdbcType=DATE},
      lookcount = #{lookcount,jdbcType=INTEGER},
      score = #{score,jdbcType=DOUBLE},
      boxoffice = #{boxoffice,jdbcType=INTEGER},
      directorId = #{directorid,jdbcType=INTEGER},
      performerIds = #{performerids,jdbcType=VARCHAR},
      prizeIds = #{prizeids,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=LONGVARCHAR},
      atlas = #{atlas,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>