<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fk.dao.OrdersDao" >
  <resultMap id="BaseResultMap" type="com.fk.bean.OrdersBean" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="images" property="images" jdbcType="VARCHAR" />
    <result column="hotel" property="hotel" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="sellcount" property="sellcount" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="place" jdbcType="VARCHAR" property="place" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.fk.bean.OrdersBean" extends="BaseResultMap" >
    <result column="cost" property="cost" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, images, hotel, type, count, subject, title, sellcount, price, image, place
  </sql>
  <sql id="Blob_Column_List" >
    cost
  </sql>

  <select id="selectByPlace" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">
    select <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" /> from orders where place like '%${_parameter}%'
  </select>
  <select id="count" resultType="int">
    select
    count(*)
    from orders
  </select>
  <select id="selectByStart" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from orders
    limit #{start, jdbcType=INTEGER},10
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from orders
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orders
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fk.bean.OrdersBean" >
    insert into orders (id, images, hotel,
    type, count, subject,
    title, sellcount, price,
    image, place, cost)
    values (#{id,jdbcType=INTEGER}, #{images,jdbcType=VARCHAR}, #{hotel,jdbcType=VARCHAR},
    #{type,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}, #{subject,jdbcType=VARCHAR},
    #{title,jdbcType=VARCHAR}, #{sellcount,jdbcType=INTEGER}, #{price,jdbcType=INTEGER},
    #{image,jdbcType=VARCHAR}, #{place,jdbcType=VARCHAR}, #{cost,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fk.bean.OrdersBean" useGeneratedKeys="true" keyProperty="id">
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="images != null" >
        images,
      </if>
      <if test="hotel != null" >
        hotel,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="subject != null" >
        subject,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="sellcount != null" >
        sellcount,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="place != null">
        place,
      </if>
      <if test="cost != null" >
        cost,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="images != null" >
        #{images,jdbcType=VARCHAR},
      </if>
      <if test="hotel != null" >
        #{hotel,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="sellcount != null" >
        #{sellcount,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fk.bean.OrdersBean" >
    update orders
    <set >
      <if test="images != null" >
        images = #{images,jdbcType=VARCHAR},
      </if>
      <if test="hotel != null" >
        hotel = #{hotel,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="subject != null" >
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="sellcount != null" >
        sellcount = #{sellcount,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        place = #{place,jdbcType=VARCHAR},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fk.bean.OrdersBean" >
    update orders
    set images = #{images,jdbcType=VARCHAR},
    hotel = #{hotel,jdbcType=VARCHAR},
    type = #{type,jdbcType=VARCHAR},
    count = #{count,jdbcType=INTEGER},
    subject = #{subject,jdbcType=VARCHAR},
    title = #{title,jdbcType=VARCHAR},
    sellcount = #{sellcount,jdbcType=INTEGER},
    price = #{price,jdbcType=INTEGER},
    image = #{image,jdbcType=VARCHAR},
    place = #{place,jdbcType=VARCHAR},
    cost = #{cost,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fk.bean.OrdersBean" >
    update orders
    set images = #{images,jdbcType=VARCHAR},
      hotel = #{hotel,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      subject = #{subject,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      sellcount = #{sellcount,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER},
      place = #{place,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>